/* font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #9f1e49;
  font-size: 1rem;
  text-align: center;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #f2f2f2;
  margin: 0;
}

h1 + p {
  color: #ffc93c;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3125rem;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  color: #ffc93c;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 5px;
}

.top-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
  color: #ffc93c;
  text-transform: uppercase;
  order: -1;
  padding-top: 2px;
  border-top: 5px solid #ffc93c;
  border-image: linear-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(168, 70, 70) 98.2%
  );
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}
.free {
  color: #ffc93c;
  font-weight: 300;
}

/* Intro Section */

.intro {
  background-image: url("/images/computer.png");
  background-color: #2f1b41;
  background-size: cover;
  background-position: center;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

/* .container {
  max-width: 400px;
  margin: 0 auto;
}

.container-intro {
} */

/* Main Content */
.main-content {
  padding: 2em 1em;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Form Styling */

/* .form-container {
  margin: 0 auto;
} */

.signup {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

input,
button {
  width: 70%;
  border-radius: 5px;
  padding: 0.5em;
  text-transform: uppercase;
}

button {
  display: block;
  border-style: none;
  cursor: pointer;
  color: #9f1e49;
  font-weight: 700;
  margin: 0 auto;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 1px solid #be1f1f;
}

input:hover,
input:focus {
  transform: scale(1.3);
  transition: transform 500ms;
}

.main-btn {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(168, 70, 70) 98.2%
  );
  transition: 500ms;
  transform: scale(1);
}

.main-btn:hover,
.main-btn:focus {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: #f2f2f2;
  transform: scale(1.3);
  transition: transform 500ms;
}

/* Media Queries */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }
  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input,
  button {
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
  }
}
